/Server python/venv/
Android app/app/src/main/java/me/ngodat0103/myapplication/key.java
Android app/app/src/main/java/me/ngodat0103/myapplication/cipher_key.java
/Server python/.idea/
/Server python/__pycache__/
/module java/java client connect/
Android app/.idea/misc.xml
Android/app/src/main/java/com/example/mobileproject/AdminCredential.java
demo.mp4
